*{
	margin:0;/*Внешний отступ блока*/
	padding:0;/*Внутренний отступ блока*/
}

body{
	background: #edeef0;/*Фон сайта*/
	font-family: Verdana,sans-serif;/*Название шрифта сайта*/
	font-size: 16px;/*Размер шрифта сайта*/
}

img{
	max-width: 100%;
}

.container{
	width:980px;
	margin:0 auto;
}
.container:after { 
	content: ""; 
	display: table; 
	clear: both; 
}


#header{
	padding: 30px;
	height: 100vh;
	margin-bottom: 200px;
	background-image: url(./images/laptop.jpg);
	background-size: cover;
}

h1 {
	display: block;
	width:980px;
	margin: 200px auto 0 auto;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
	font-size: 80px;
}

.logo{
	width:80px;
	float:left;
}

.main_menu{
	float:right;
	margin-top:10px;/*отступ сверху*/
	text-align: center;/*выравнивание по центру сожержимое блока*/
}

.main_menu ul li{
	list-style: none;/*Убираем стили списков*/
	display: inline-block; /*преобразуем в блочно-строчный элемент*/
	margin-right: 40px;/*отступ справа*/
}

.main_menu ul li:last-child{
	margin-right: 0;/*обнуляем последнему элементу li отступ справа*/
}

.main_menu ul li a{
	text-decoration: none;/*Убираем стили ссылок*/
	color:#fff;/*Цвет текста*/
}

#footer{
	text-align: center;
	color: white;
	padding: 20px 0;
	background-color: #111;
}

.box{
	padding: 0 0 200px 0;
	color:#111;
}

.box h2{
	display:block;
	margin:10px 0 50px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 40px;
	color: #111;
}

#our_projects{
	text-align: center;
}

#our_projects ul li{
	display: inline-block;
	padding: 10px;
	width: 200px;
}

.news_photo{
	width: 300px;
	float:left;
	padding: 10px;
	margin-right: 20px;
}
.news_text{
	width: 620px;
	float:left;
	padding: 10px;
}

#call_back form{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#call_back form input, #call_back textarea{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	display: block;
    padding: 10px;
    color: #222;
    border: 1px solid #e3e4e8;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

#call_back form input[type="submit"]{
	width: 200px;
	height: 50px;
	margin: 10px auto;
	background: #239334;
	color:#fff;
}